
body{
  font-family: 'Karla', sans-serif;
  
}

.container {

  background:  radial-gradient(lightgrey, white); 
}

.navbar {
      font-family: 'Gloria Hallelujah', cursive;
      background-color: #C9C9E9 ;
      margin-bottom: 0;
      border-radius: 0;
      color: black;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */


#edit {
  font-size: 1.5em;
  color: green;
 } 

 #delete{
  font-size:  1.5em;
  color:  red;
 }
 
.gap{
  margin-top: 20px;
  margin-bottom: 10px;
}


label {
  font-family: 'Gloria Hallelujah', cursive;
}


/* header and nav */

header{
  background:  radial-gradient(lightblue, white);
  font-family: 'Gloria Hallelujah', cursive;
}

.move{
  margin-top:  20px;
}

#logo {
  width:  170px;
  height: 100px;
}
#headingdata{
  display: block;
  font-size: 30px;
 
}

.gradient {
  background:  radial-gradient(lightgreen, white);
}

/* main section  */
.border{
  border: solid 1px darkblue;
  background-color: white;
  margin-right: 5px;
  margin-left:  65px;
}



h5{
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 18px;
  font-weight: bold;

}

h1 {
  color:  darkblue;
}

.top{
  margin-top: 5px;
}
#img{
  margin-top: 5px;
}
input, select {
  margin-top: 2px;
  border:  2px solid darkgrey;

}

fieldset{
  text-align: center;
  margin-top:  30px;
}

form {
  margin-left:  350px;
}







/* footer css  */

#myfoot {
  background-color: #C9C9E9;
  color: black;
  font-family: 'Gloria Hallelujah', cursive;
}

